.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.vscode/settings.json
target/classes/schema.json
target/classes/com/jsonvalidator/Address.class
target/classes/com/jsonvalidator/JsonHandler.class
target/classes/com/jsonvalidator/User.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/test-classes/schema.json
target/test-classes/com/jsonvalidator/JsonHandlerTest.class
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/com.jsonvalidator.JsonHandlerTest.txt
target/surefire-reports/TEST-com.jsonvalidator.JsonHandlerTest.xml
target/test-classes/com/jsonvalidator/JsonHandlerTest$1.class
target/test-classes/com/jsonvalidator/JsonHandlerTest$2.class
target/test-classes/com/jsonvalidator/JsonHandlerTest$3.class
